body{
  margin: 0px auto;
 background-color: lightgray;
}



#principal{
    margin: 0px auto; 
    margin-top: 30px;
    height: 40px;
    width: 90%;
    background-color: black;
    border-radius: 20px;
    
}
h1{
    text-align: center;
    font-family: sans-serif;
    color: white;
    
    
    
}
h2{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 250px;
     margin-top: 40px;
   
}
p{
   font-family: sans-serif;
    color: white;
    margin-left: 250px;
    margin-top: 40px;

    }
#contenedor{
    margin: auto;
   margin-top: 50px;
    width: 915px;
    height: 1100px;
    border-radius: 15px;
    background-color: black;
    
}

#pelis{
    margin: auto;
   margin-top: 20px;
    margin-left: 25px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 250px;
    height: 290px;
    background-color: green;
    float: left;
}
img{
     width: 250px;
    height: 290px;
    border-radius: 15px;
}

